body{
    background-color: rgba(220, 220, 220, 0.225);
    
}
.navbar{
    padding-left: 5%;
    padding-right: 5%;
    max-height: 60px;
    height: 60px;
}
.progress-main-container{
    margin-top: 60px;
}

.progress-main-container,.main-container{
    margin-left: 5%;
    margin-right: 5%;
}

.main-container{
    margin-left: 5%;
    margin-right: 5%;
}
.progress-container{
    font-size: 14px;
}
.progress-bar{
    width: 5px;
}

.completed-progress{
    width: 5px;
    height: 67%;
}
.remaining-progress{
    width: 5px;
    height: 33%;
}



.case-color{
    border-radius: 30px;
    height: 400px;
    width: 196px;
    margin-left:2px;
}


.user-image{
    border-radius: 30px;
    width: 196px;
}
.check-out-button{
    width: 50%;
    margin-left: auto;
}






@media(min-width:992px){
    .navbar{
        padding-left: 15%;
        padding-right: 15%;
    }
    .progress-bar{
        width: 100%;
    }
    
    .completed-progress{
        height: 5px;
        width: 67%;
    }
    .remaining-progress{
        height: 5px;
        width: 33%;
    }
    
    .progress-main-container,.main-container{
        margin-left: 15%;
        margin-right: 15%;
    }
    .check-out-button{
        width: 30%;
    }
}





