
<body>

    <nav class=" bg-white fixed-top navbar border-bottom d-flex ">
        <p class="fw-bold fs-5 mb-0">caseify</p>
        <ul class="nav d-flex align-items-center justify-content-center fw-bold">
            
            <ng-container *ngIf="auth.isAuthenticated$ ">
                <p (click)="logout()" class="mb-0"><a href="" class="fw-semibold  text-dark text-decoration-none fs-6">Log out</a> </p>
            </ng-container>
              
            

        </ul>
    </nav>
    <div class="sales-goals-container d-flex flex-column flex-lg-row">
        <div class="goal p-3 bg-white me-0 me-lg-3 w-100 w-lg-50 mb-4 mb-lg-0 shadow-sm">
            <p class="text-secondary fs-6 class mb-2">This Week</p>
            <h2 class="fw-bold">${{ current_week_sales }}.00</h2>
            <p class="text-secondary fs-6">of $500.00 goal</p>
            <div class="progress-bar-container  w-100">
                <div class="progress-bar " id="weekly-progress-bar"></div>
            </div>
        </div>
        <div class="goal p-3 bg-white w-100 w-lg-50  shadow-sm">
            <p class="text-secondary fs-6 class mb-2">This Month</p>
            <h2 class="fw-bold">${{ current_month_sales }}.00</h2>
            <p class="text-secondary fs-6">of $2000.00 goal</p>
            <div class="progress-bar-container  w-100">
                <div class="progress-bar " id="monthly-progress-bar"></div>
            </div>
        </div>
    </div>
    <div class="incoming-orders-container pb-5">
        <h1 class="mb-5 fw-bold">Incoming Orders</h1>
        <table class="w-100 table pb-0 mb-0">
            <thead class=" thead-dark shadow-sm">
                <tr>
                    <th class="text-secondary">Customer</th>
                    <th class="text-secondary">Status</th>
                    <th class="text-secondary">Purchase Date</th>
                    <th class="text-secondary">Amount</th>
                </tr>
                
            </thead>
            <tbody *ngFor="let item of all_orders">
                <tr *ngIf="item.billingaddress">
                    <td>
                        <p class="fw-bold fs-6 mb-0" *ngIf="item.billingaddress">{{ item.billingaddress.name }}</p>
                        <p class=" fs-6 text-secondary mb-0" *ngIf="item.user">{{item.user.email}}</p>
                    </td>
                    <td>
                        <select name="status" class="p-1 fw-bold" [(ngModel)]="item.status" (change)="changeOrderStatus(item)">
                            <option value="fulfilled">Fulfilled</option>
                            <option value="shipped">Shipped</option>
                            <option value="awaiting_shipment">Awaiting Shipment</option>
                        </select>
                        
                    </td>
                    <td class="fw-bold">{{ item.createddate | date:'mediumDate' }}</td>
                    <td class="fw-bold">${{ item.amount }}.00</td>
                </tr>
                
                
            </tbody>
        </table>
    </div>
      
</body>





