body{
    background-color: rgba(220, 220, 220, 0.225);
    min-height: 100vh;
    
}
#cover-page{
    width: 100%;
    height: 1000px;
    background-color: white;
    position: absolute;
    z-index: 99999;
    display: flex;
    align-items:first baseline;
    justify-content:center;
}
.navbar{
    padding-left: 5%;
    padding-right: 5%;
    
    height: 60px;
}
.progress-main-container{
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.progress-bar{
    width: 5px;
}


.current-progress,.remaining-progress{
    width: 5px;
    height: 33%;
}
.completed-progress{
    height: 34%;
}

.image-options-container{
    margin-left: 5%;
    margin-right: 5%;
}


.image-customize-container{
    background-color: rgba(220, 220, 220, 0.345);
    border: 2px dashed gray;
    position: relative;

}
.phone-case{
    width: 200px;
    height:400px;
    z-index:3;
}
.image-customize-container .case-color{
    background-color: rgba(0, 0, 0, 0.896);
    border-radius: 26px;
    margin-top: 2px;
    margin-left: 3px;
    width: 196px;
    height: 397px;
    z-index:1;
}





label,.progress-container{
    font-size: 14px;
}



.red-color{
    width: 38px;
    height: 38px;
    background-color: rgb(244, 38, 38);
    cursor: pointer;
}

.black-color{
    width: 38px;
    height: 38px;
    background-color:rgba(0, 0, 0, 0.896);
    cursor: pointer;
}

.blue-color{
    width: 38px;
    height: 38px;
    background-color: rgb(2, 6, 126);
    cursor: pointer;
}


.iphone-models{
    cursor: pointer;
}

.material{
    border: 2px solid gray;
    cursor: pointer;
}
input[type="radio"]:checked + .material {
    border: 3px solid green;
}



input[type="radio"]:checked + .red-color {
    border: 2px solid white;
    outline: 3px solid rgb(244, 38, 38);
}

input[type="radio"]:checked + .black-color {
    border: 2px solid white;
    outline: 3px solid rgba(0, 0, 0, 0.896);
}

input[type="radio"]:checked + .blue-color {
    border: 2px solid white;
    outline: 3px solid rgb(4, 4, 210);
}

.finish{
    border: 2px solid gray;
    cursor: pointer;
}
input[type="radio"]:checked + .finish {
    border: 3px solid green;
}
.options-container{
    margin-bottom: 20px;
}





.image-customize-container{
    border: 2px black dotted;
   
    overflow: hidden;
    position: relative;
}

  .phone-case{
    width: 200px;
    height:400px;
    z-index:3;
    box-shadow: 0px 0px 0px 9999px rgba(229, 231, 235, 0.436);
}
.image-customize-container .case-color{
    background-color: rgba(0, 0, 0, 0.896);
    border-radius: 26px;
    margin-top: 2px;
    margin-left: 3px;
    width: 196px;
    height: 397px;
    z-index:1;
    
}

.rectangle{
    z-index: 2;
    position: absolute;
    
    cursor:move;

}

#user-image{
    
    width: 100%;
    height: 100%; 
    
    z-index:5;
    border: 2px solid rgb(6, 151, 6);
}
.top-left-drag-dot{
    width: 20px;
    height: 20px;
    background-color: white;
    
    border-radius: 50%;
    border: 1px solid black;
    top:-3px;
    left: -3px;
   

}

.top-right-drag-dot{
    width: 20px;
    height: 20px;
    background-color: white;
   
    border-radius: 50%;
    border: 1px solid black;
    top:-4px;
    right: -7px;
}

.bottom-left-drag-dot{
    width: 20px;
    height: 20px;
    background-color: white;
    
    border-radius: 50%;
    border: 1px solid black;
    bottom:-3px;
    left: -3px; 
}
.bottom-right-drag-dot{
    width: 20px;
    height: 20px;
    background-color: white;
    
    border-radius: 50%;
    border: 1px solid black;
    bottom:-4px;
    right: -7px;
}

.bottom-left-drag-dot:hover,.bottom-right-drag-dot:hover,.top-left-drag-dot:hover,.top-right-drag-dot:hover{
    background-color: green;
}


.ng-resizable-diagonal{
    opacity: 0;
}





.div{
   margin-top: 200px;
    
    width: 100%;
    overflow: hidden;
    scrollbar-width:none;
    opacity: 80%;
}
.loading-symbol{
    width: 25px;
    height: 25px;
    border: 5px solid gray;
    border-radius: 50%;
    border-bottom: 5px solid gainsboro;
    animation: rotate 1s infinite linear;
}

@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@media(min-width:992px){
    .navbar{
        padding-left: 15%;
        padding-right: 15%;
        
    }
    .progress-main-container{
        margin-left: 15%;
        margin-right: 15%;
    }
    .image-options-container{
        margin-left: 15%;
        margin-right: 15%;
    }
    .progress-bar{
        width: 100%;
    }
    .current-progress,.remaining-progress{
        height: 5px;
        width: 33%;
    }
    .completed-progress{
        height: 5px;
        width: 34%;
    }
    .image-customize-container{
        width: 60%;
    }

    .fixed-lg-static {
        position: absolute ;
        bottom:0;
        
      }

      .image-options-container{
        max-height: 400px;
        
      }
      .options-container{
        width: 40%;
        max-height: 500px;
      }
      .options{
        max-height: 500px;
        overflow-y:scroll;
        scrollbar-width:thin;
        
      }
      footer{
        padding-left: 15%;
        padding-right: 15%;
    }
      
  



 

}